---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Gonzalo Encinar is a Software Engineer & Quality Expert with experiences on full-stack developement and no code technologies. He is
			actively working on enterprise level at{' '}
			<strong><a href='https://sngular.com' target='_blank' class='underline'>@Sngular</a></strong>
		</p>
		<p>I will be happy to help you out as a <strong>Quality Engineer, No Code Specialist or Fullstack Developer</strong>.</p>
	</div>
</div>
