---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Gonzalo Encinar is a Software Engineer & Quality Expert with experiences on full-stack developement and no code technologies. He is
			actively workin on enterprise level at{' '}
			<a href='https://sngular.com' target='_blank' class='underline'>@Sngular</a>
		</p>
		<p>
			I will be happy to help you out as a Quality Engineer or as a No Code Specialist. I'm used to work with webflow, flutterflow & weweb
			stack
		</p>
	</div>
</div>
